/*
Mick Welisevich
28 AUG 21
Module 4 Assignment 2
*/
body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

#container {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

h1, h2, h3, h4 {
    background-color: rgb(203, 48, 97);
    color: #eeeeee;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: rgb(203, 48, 97);
}

a:hover {
    background-color: #D6A800;
    color: rgb(203, 48, 97);
}

a:visited {
    color: rgb(203, 48, 97);
}