html {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

header {
    background-color: rgb(203, 48, 97);
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

#title{
    text-align: center;
    font-size: 40px;
}
.mick {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    text-align: right;
}
  
.mick img {
    width: 100%;
    height: auto;
}
.navbar {
    overflow: hidden;
    background-color: rgb(203, 48, 97);
    border-bottom: 15px solid rgb(244, 125, 163);
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: rgb(244, 125, 163);
    color: white;
}

h1 {
    font-weight: 400;
    text-align: center;
}

.hobbies {
    min-height: 250px;
}

.experience {
    min-height: 250px;
}

.contact-form {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10%;
}

img {
    height: 400px;
    width: 350px;

}

.full-width {
    width: 100%;
}

.card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}

.grid-item {
    padding: 20px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 95%;
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: rgb(203, 48, 97);
    font-weight: 400;
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 20%;
}

.form-field {
    padding: 20px;
}

.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: #000;
}

.input {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

figcaption{
    text-align: center;
}

.btn-primary {
    background-color: rgb(203, 48, 97);
    color: #fff;
}

.btn-primary:hover {
    background-color: rgb(244, 125, 163);
    color: white;
}

.full-width {
    width: 100%;
}

footer{
    font-weight: 400;
    background-color: rgb(203, 48, 97);
    float: right;
    font-style: italic;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    left: 0;
}

footer a{
    text-decoration: none;
    color: white;
    padding: 20px;
}

#link{
    text-align: right;
    bottom: 0;
}

#copyright{
    bottom:0;
    position: fixed;
}

footer a:hover{
    text-decoration: underline;
}
